.download-div {
  background-color: white;
  display: flex;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
  gap: 20px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.download-button {
  border: none;
  background-color: gray;
  color: white;
  padding: 7.5px 12.5px;
  font-size: 14px;
  border-radius: 5px;
  width: 50%;
}

.download-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.clear-button {
  border: none;
  background-color: gray;
  color: white;
  padding: 7.5px 12.5px;
  font-size: 14px;
  border-radius: 5px;
  width: 50%;
}

.clear-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
