.education {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1); */
}

.education-header-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  border-radius: 10px;
}

.header {
  margin: 0;
}

.form {
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.input-label {
  font-size: 16px;
  font-weight: 400;
}

.input {
  background-color: rgb(243, 244, 246);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.input:focus-visible {
  border: 2px solid #f08080;
  outline: none;
}

.button {
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: black;
}

.button-div {
  display: flex;
  justify-content: end;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}

.expand-icon {
  margin-top: 10px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  width: fit-content;
}

/* .editBtn {
    display: flex;
    justify-content: space-between;
  }
  
  .editSVG {
    height: 0px;
    width: 3px;
    transform: scale(0.75);
  } */

.editSchool {
  margin: 0;
}

.educations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 5px;
  align-items: center;
  border-radius: 10px;
}

.school-title {
  margin: 0;
}

.add-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 5px;
  align-items: center;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;
}

.add-education-button {
  border: none;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 0;
}
