.skills-template {
  width: calc(100% - 112px);
  padding: 0 56px;
  margin-top: 40px;
  margin-bottom: 0;
}

.skills-header {
  font-weight: 500px;
  color: gray;
  background-color: #f3f4f6;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-radius: 2px;
}

.skills-header h3 {
  margin: 0;
}

.skills-template-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  font-size: 14px;
}

.skills-intro {
  margin: 0;
  font-weight: 800;
}

.skills-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-unit {
  margin: 0;
  margin-right: 5px;
}

.skills-unit {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 14px;
  gap: 10px;
}

.role p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.left p {
  margin: 0;
}

.details {
  font-weight: 300;
  font-size: 13px;
}

.right p {
  margin: 0;
}

.role {
  font-weight: bold;
}

.right {
  display: flex;
  flex-direction: column;
}

.right p {
  text-align: end;
}

.location {
  font-weight: 600;
}
